<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="../bower_components/angular-bindonce/bindonce.js"></script>
  <script type="text/javascript" src="../bower_components/moment/moment.js"></script>
  <script type="text/javascript" src="../bower_components/moment-range/lib/moment-range.js"></script>
  <script type="text/javascript" src="../build/angular-mighty-datepicker.js"></script>
  <script type="text/javascript">
    angular.module("testapp", ["mightyDatepicker"]);
    angular.module("testapp").controller("TestCtrl", function($scope){
      $scope.range = moment().range("2012-11-05", "2013-01-25")

      $scope.change = function(){
        $scope.range2 = moment().range("2012-11-15", "2012-12-25")
      }
      $scope.date = null;
      $scope.multi = [];
      $scope.options = {months: 1, after: moment()}
      $scope.optionsM = {start: moment().add('month', -1), months: 3, mode: "multiple", after: moment()}
    });
  </script>
  <link rel="stylesheet" type="text/css" href="../build/angular-mighty-datepicker.css"/>
  <style type="text/css">
    * {
      font-size: 10px;
      font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    }
  </style>
</head>
<body ng-app="testapp">
  <div ng-controller="TestCtrl">
    <div>
      <h1>Simple date picker</h1>
      <mighty-datepicker ng-model="date" options="options"></mighty-datepicker>
      <pre>
        {{date | json}}
      </pre>
    </div>
    <div>
      <h1>Multiple date picker</h1>
      <mighty-datepicker ng-model="multi" options="optionsM"></mighty-datepicker>
    </div>
      <pre>
        {{ mutli | json}}
      </pre>
    <!-- <div>
      <h1>Date range picker</h1>
      <mighty-datepicker ng-model="range"></mighty-datepicker>
    </div> -->
  </div>
</body>
</html>
