.mighty-picker-calendar__day {
  cursor: pointer;
}
.mighty-picker-calendar__day--disabled {
  color: #aaa;
  cursor: auto;
}
.mighty-picker-calendar__day--selected {
  color: #3b5;
  font-weight: bold;
}
.mighty-picker__month {
  display: inline-block;
  margin: 0 6px;
}
